.topnav > a {
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(67, 187, 147);
    padding: 3px;
    border-radius: 2px;

}
a:hover {
    color: green;
}
*{
    box-sizing: border-box;
}

h3{
    text-align: center;
}
body {
    margin:0 auto;
    padding: 10px 25px;
    /* border:1px solid black;
    border-radius: 5px; */
    
}

button {
    background-color: rgb(67, 187, 147);
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
}
@media screen and (max-width: 768px) {
    body {
        max-width: 700px;
    }
    .icons {
        padding-bottom: 5px;
    }
    input {
        margin-bottom: 10px;
    }
    label, input {
        width: 100%;

    }
}

@media screen and (min-width: 769px) {
    label, input {
        display: block;
        padding: 10px;
        min-width: 50%;
    }
}