html, body, ul, a, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > .cover > nav {
  display: flex;
  background-color: rgb(67, 187, 147);
  padding: 1.2em;
  justify-content: stretch ;
}

body > .cover > nav .brand {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 500;
  font-size: 20px;
}

nav > ul {
  display: flex;
  align-items:flex-end;
}

nav > ul > li {
  margin: 0 1em;
}

nav > ul > li > a {
  color: #FFF;
  letter-spacing: 0.15em;
}

nav > ul > li > a:hover {
  /* color: #FFF; */
  letter-spacing: 0.1em;
  padding: 5px;
  border-bottom: 2px solid white;
}

.cover {
  width: 100%;
  height: 100vh;
  background: url(Landing.jpg);
  background-position: cover;
  background-size: cover;
}

.content-wrapper {
  background-color: rgb(67, 187, 147);
}

